<!--/**
    Description of gestion_usuario.html

    @author Víctor Perete <fusiodarts.com>
    Contacto: contacto@fusiodarts.com
-->

{if condition="$fsc->iframe!=1"}
    {include="header"}
{else}
    {include="header2"}
{/if}

<style type="text/css">
    .content-wrapper, .right-side {
        background-color: #ecf0f5 !important;
    }
    label{
          margin-top: 10px;
          margin-left: 20px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var idcuen = $_GET['codcuenta'];
        //var ext = {$fsc->dominio->extension};
        event.preventDefault();
        $.ajax({
            url: "{$fsc->url()}",
            type: "GET",
            data: {editarcuenta: idcuen},
            dataType: "json",
            success: function (res) {
                console.log(res);
                $("#modal_nuevo_usuario").modal('show');
                document.getElementById("codcuenta").value = res.codcuenta;
                document.getElementById("codcliente").value = res.codcliente;
                document.getElementById("objetivocuenta").value = res.objetivocuenta;
                document.getElementById("nombrecuenta").value = res.nombrecuenta;
                document.getElementById("emailcuenta").value = res.emailcuenta;
                document.getElementById("usuariocuenta").style.visibility = "usuariocuenta";
                document.getElementById("contrasenyacuenta").value = res.contrasenyacuenta;
                document.getElementById("obscuenta").value = res.obscuenta;
            }
        });
    });
    
    var checks = 0;
    function hideOrShowPassword(){ // Si quieres le cambias el nombre xD
        passField = document.getElementById('contrasenyacuenta');
        checks=!checks;
        if(checks)// Si la checkbox de mostrar contraseña está activada
        {
            passField.type = "text";
        }
        else // Si no está activada
        {
            passField.type = "password";
        }
    }

</script>

<form class="form" name="f_nueva_cuenta" action="index.php?page=gestion_usuarioscli" method="post">
    <input type="hidden" name="codcliente" value="{$fsc->cuenta->codcliente}"/>
    <input type="hidden" name="codcuenta" value="{$fsc->cuenta->codcuenta}"/>
    <input type="hidden" name="iframe" value="{$fsc->iframe}"/>
    <!-- Content Header (Page header) -->
    {if condition="$fsc->iframe!=1"}
    <section class="content-header">
        <h1>
            Gestión de usuarios del cliente "{$fsc->cliente_s->nombre}"
        </h1>
    </section>
    {/if}

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h4 class="modal-title">{if condition="$fsc->cuenta->objetivocuenta==''"}Nueva cuenta{else}Editar cuenta{/if}
                    <button style="float: right;margin-left: 5px;" class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;
                        this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar cuenta
                    </button>
                    <a href="index.php?page=gestion_usuarioscli&iframe={$fsc->iframe}" style="float: right;margin-left: 5px;" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Cancelar
                    </a>
                </h4>
            </div>
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Objetivo</label>
                        <input class="form-control" type="text" name="objetivocuenta" id="objetivocuenta" value="{$fsc->cuenta->objetivocuenta}" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <input class="form-control" value="{$fsc->cuenta->descripcioncuenta}" type="text" name="descripcioncuenta" id="descripcioncuenta" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" value="{$fsc->cuenta->emailcuenta}" type="text" name="emailcuenta" id="emailcuenta" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Usuario/ID</label>
                        <input class="form-control" type="text" name="usuariocuenta" value="{$fsc->cuenta->usuariocuenta}" id="usuariocuenta" autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" id="check_contraseña"  title="Mostrar/Ocultar Contraseña" onclick="hideOrShowPassword()"></span>
                            </span>
                            <input class="form-control" type="password" name="contrasenyacuenta" value="{$fsc->cuenta->contrasenyacuenta}" id="contrasenyacuenta" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Obsevaciones:</label>
                        <textarea name="obscuenta" id="obscuenta" rows="5" class="form-control">{$fsc->cuenta->obscuenta}</textarea>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</form>
{if condition="$fsc->iframe!=1"}
    {include="footer"}
{/if}